extends layout.pug 

block styles 
	link(rel="stylesheet", href="/css/about.css")

block header 
	h1 About Me
	p I am a self-taught Full Stack Web Developer. At first, I had no idea that this skill would be something I could build a career on. Now, its been almost 4 years since I first started learning how to program, and 3 years working professionally as a Web Engineer.

block main 
	section 
		aside
			h2 What am I?
			p I am a 
				strong self-taught developer
				| , having learned how to build websites on my own, on a dare actually. 
			p At the time, I had no idea that this skill would be something that could help me build a career. As of now, it's been almost 
				strong 4 years
				|  since I first started learning how to program and I've never looked back!
			p I started out with online courses on EdX and Coursera. My very first course was 
				strong CS50's Introduction to Computer Science
				| , by 
				strong Harvard
				|  on 
				em EdX
				| , followed by a series of Web Development courses from the 
				strong University of Micigan
				|  on 
				em Coursera
				| .
			p However, if we're sticking to the labels in the tech industry, then I'm a 
				strong Semi Senior (SSr) Full Stack Engineer
				| . That means that I have about as much 
				em theoretical knowledge
				|  as I have 
				strong professional experience
				|  in any of the tools I use professionally.
		aside 
			img(src="https://s3.amazonaws.com/jorgegallego.me/profile.jpg", alt="Jorge Gallego")
	section 
		aside
		aside
			h2 What do I do?
			p I build websites that 
				strong retain visitors organically
				|  and are designed to drive 
				strong high conversion rates
				|  with a focus on providing a 
				em simple, attractive UI
				|  and an 
				em easy-to-navigate, straightforward UX
				| .
			p I can 
				strong design and build complex systems
				|  (web-based systems, in my case) with a wide range of tools for a variety of needs and use cases.
			p However, I am still learning both new things and deepening my current knowledge within my field (i.e. 
				a(href="https://docker.com", target="_blank", rel="noopener noreferrer nofollow") Docker
				| , 
				a(href="https://aws.amazon.com/dynamodb", target="_blank", rel="noopener noreferrer nofollow") AWS DynamoDB
				| , 
				a(href="https://vuejs.org", target="_blank", rel="noopener noreferrer nofollow") Vue Ecosystem
				| ).
			p Beyond that, I am able to 
				em work collaboratively
				|  with others in a remote environment, and I also have experience working alone on projects. I have a strong ability to 
				strong plan out my work
				|  and 
				strong communicate effectively
				|  with 
				em clients
				| , 
				em coworkers
				| , and 
				em team members
				|  at all levels of an organization.
	section#skills
		aside 
			h2 My Skills
			p I have been working in the web industry for 3 years now as a Full Stack developer. I have experience with many tools and technologies, with various different use cases and purposes:
			ul 
				each skill in skills 
					li #{skill.name} (#{skill.level})
		aside 
			img(src="https://s3.amazonaws.com/jorgegallego.me/logo.png", alt="Jorge Gallego")