h1(style="font-family:sans-serif;") Thanks for your interest
p(style="font-weight: 600; margin-bottom: 0;") I have received your information. I will now review it and get back to you as soon as possible.
p(style="font-weight: 600; margin-top: 0;") I look forward to working together soon, and building a digital presence with a website you're proud of.
p For consistency and transparency purposes, here's a copy of the data you just submitted through the form on my 
	a(href="https://jorgegallego.me/contact", target="_blank", rel="noopener noreferrer") contact page
	| .
ul(style="padding: 0;")
	li Name: #{name}
	li Email: #{email}
	li Service: #{service}
	li Message: #{message}
div(style="padding: 0.5rem;")
	img(src="https://s3.amazonaws.com/jorgegallego.me/profile.jpg", alt="Jorge Gallego", style="max-width: 10%; height: auto; border-radius: 50%;")
	p(style="margin: 0; color: #000000;") Jorge Gallego
		br
		| Full Stack Engineer
		br
		| Calle 157C # 91 - 86, 1-504
		br
		| Bogotá D.C., Colombia