<h2>Follow Me</h2>
<p class="icons">
    <a href="https://www.linkedin.com/in/jorge-gallego-6b641b1b1/" target="_blank" title="LinkedIn" rel="noreferrer">
        <i class="bi-linkedin"></i>
    </a>
    <a href="http://twitter.com/jorge__gallego" target="_blank" title="Twitter" rel="noreferrer">
        <i class="bi-twitter"></i>
    </a>
    <a href="https://github.com/Jorge644240" target="_blank" title="GitHub" rel="noreferrer">
        <i class="bi-github"></i>
    </a>
</p>